.bio{

}

.bioImage{
    
    border-radius: 50%;

}

.bioContent{

}

.bioContentName{
    font-weight: 900;
    font-size: 52px;
    line-height: 65px;
    color: #00ADB5;
}

.bioContentTagline{
    font-size: 37px;
    line-height: 47px;
    color: #414141;
}

.bioContentRole{
    font-weight: bold;
    font-size: 29px;
    line-height: 36px;
    color: #414141;

}