$primary-colour: #00ADB5;

.container {
  padding: 0 2rem;
}

.main {
  max-width: 800px;
  min-height: 100vh;
  padding: 5rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
}

.posts{
  margin: 5em;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-top: 0;
    }
  }
}



.formContent{
  width: 100%;
  font-size: 1.4em;
  padding: 0.8em;    
  min-height: 6em;
  border: 2px solid;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1em;
}

.formButton{
  background: #00ADB5;
  border-radius: 5px;
  color: bisque;
  border: 0;
  padding: .6em 1em;
  font-size: 1.1em;
}


